* {
  box-sizing: border-box;
}

:root {
  --color-foreground: rgba(255, 255, 255, 1);
  --color-foreground-interactive: rgba(255, 255, 255, 0.9);
  --color-background: rgba(0, 0, 0, 1);
  --color-separator: rgba(255, 255, 255, 0.96);
  --font-family-mono: 'SF Mono', Menlo, Consolas, 'Ubuntu Mono',
    'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
}

body,
h1,
h2,
h3,
p,
ul,
pre {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

pre {
  /* padding: 1rem; */
  border-radius: 0.5rem;
}

code {
  font-size: 13px;
  line-height: 20px;
  font-family: var(--font-family-mono);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  color: var(--color-foreground);
  text-decoration: none;
}

a:hover {
  color: var(--color-foreground-interactive);
}

iframe {
  border: 1px solid var(--color-separator);
}

.line-decorator {
  background: #15367482;
}

.line-decorator--instance {
  background: #1536745f;
}
